<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class="container">
    <h1>Ethical test</h1>
    <h4> True or False: It is ethical for a manager to disclose confidential employee information to unauthorized personnel.</h4>
    <form action="/test_result" method="post">
        <input type="radio" name="answer" value="false" id="false">false</input><br>
        <input type="radio" name="answer" value="true" id="true">true</input><br>
        <input type="submit" value="Enter"/>
    </form>  
</div>
</body>