<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles.css') }}"
  />
</head>

<body>
  <div class="container">
    <p class="lead">Gemini</p>
    <form action="/FAQ2" method="POST">
      <input type="submit" value="Risk Assessment" />
    </form>
    <form action="/FAQ3" method="POST">
      <input type="submit" value="Economic Indicators" />
    </form>
    <p class="lead">Search query on Wikipedia</p>
    <form action="FAQ1input" method="POST">
      <input type="text" name="ques" />
      <p></p>
      <input type="submit" value="Enter" />
    </form>
  </div>
</body>
