<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles.css') }}"
  />
</head>

<body>
  <div class="container">
    <h1>GenAI Response:</h1>
    {{r}}
    <div style="display: flex; justify-content: center; gap: 20px">
      <form
        action="/main"
        method="POST"
        style="width: 150px; padding: 10px; text-align: center"
      >
        <input type="submit" value="Main Menu" />
      </form>
      <form
        action="/FAQ"
        method="POST"
        style="width: 150px; padding: 10px; text-align: center"
      >
        <input type="submit" value="FAQ" />
      </form>
    </div>
  </div>
</body>
